* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #070300;
     font-family: 'Poppins', Arial, sans-serif;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: none;
} 

.custom-cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.header {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: left;
    padding-left: 130px;
}

.header img {
    height: 60px;    
    margin-top: 50px;
}

.emotions-lists {
    position: absolute;
    left: 130px;
    top: 250px;
    display: flex;
    gap: 50px;
    height: 200px;
}

.emotion-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: space-between;
}

.emotion-item {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
}

.emotion-file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.emotion-file image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.emotion-name {
    font-size: 14px;
    color: #ffffff;
    text-transform: lowercase;
    line-height: 1;
}

svg {
    margin-left: 450px;
}

.petala {
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.petala:hover {
    filter: brightness(1.1);
     cursor: none;
}

.tooltip {
    position: absolute;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 10;
}

footer {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    padding-left: 130px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 12px;
    color: #ffffff;
    background-color: #1f1e1e;
}